<div class="background-full">
  <div class="content" style="overflow-y: scroll">
    <div class="background-title"></div>
    <div class="background-full">
      <button (click)="backPage()" class="back-button">
        <img src="https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/portal_web/arrow-left.svg" alt="back-button" width="auto"
          height="auto">
        Quay lại
      </button>
      <div class="content-all">
        <div class="content">
          <h3>Test function Authentication</h3>
          <hr style="border: 1px solid #f5f5f5" />
          <button class="btn btn-primary" (click)="goto('Authentication')">Qua trang test Authentication</button>
        </div>
        <div class="content">
          <h3>Test function User</h3>
          <hr style="border: 1px solid #f5f5f5" />
          <button class="btn btn-success" (click)="goto('User')">Qua trang test User</button>
        </div>
        <div class="content">
          <h3>Test function Device</h3>
          <hr style="border: 1px solid #f5f5f5" />
          <button class="btn btn-danger" (click)="goto('Device')">Qua trang test Device</button>
        </div>
        <div class="content">
          <h3>Test function Navigation</h3>
          <hr style="border: 1px solid #f5f5f5" />
          <button class="btn btn-warning" (click)="goto('Navigation')">Qua trang test Navigation</button>
        </div>
        <div class="content">
          <h3>Test function Utilities</h3>
          <hr style="border: 1px solid #f5f5f5" />
          <button class="btn btn-info" (click)="goto('Utilities')">Qua trang test Utilities</button>
        </div>
        <div class="content">
          <h3>Test function FetchData</h3>
          <hr style="border: 1px solid #f5f5f5" />
          <button class="btn btn-light" (click)="goto('FetchData')">Qua trang test FetchData</button>
        </div>
        <div class="content">
          <h3>Test function Payment</h3>
          <hr style="border: 1px solid #f5f5f5" />
          <button class="btn btn-secondary" (click)="goto('Payment')">Qua trang test Payment</button>
        </div>
        <div class="content">
          <h3>Test Socket</h3>
          <hr style="border: 1px solid #f5f5f5" />
          <button class="btn btn-light" (click)="goto('Socket')">Qua trang Test Socket</button>
        </div>
      </div>
    </div>

  </div>
  <div class="bottom-content"></div>
</div>
